wheel
numpy
setuptools==58.2.0
requests
waitress
xlsxwriter
pygments
xlrd
openpyxl
pytz
fpdf2
xlwt
whoosh
qrcode
tornado
ftputil
paramiko
markdown
bs4
trueskill
pybabel
opencv-python
pyinstaller
piexif
simplejpeg
virustotal-api
metaphone
pyllrp
wxPython
